<%- include('header.ejs') %>

<form action="/loginProc" method="post">
  <ul>
    <li><h3>로그인</h3></li>
    <li>ID: <input type="text" name="user_id" required /></li>
    <li>PW: <input type="password" name="pw" required /></li>

    <button>로그인</button>
  </ul>
</form>

<%- include('footer.ejs') %>
